.quiz__container{
width: 80%;
margin: auto;
margin-top: 20px;
/* border: 1px solid blue; */
}

.quizz__logo{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;

}

.quizz__logo > h3{
  margin-top: 20px;
  text-align: center;
}

.quizz__questions{
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #4224d9;
  border-radius: 8px;
  background-color: #654ED2;
  width: 100%;
  height: 130px;
  font-size: 1.5vh;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin-bottom: 20px;
}

.quizz__questions>h3{
  margin-left: 15px;
}

.quizz__options{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto;
  margin-bottom: 20px;
}

.btn-option{
  background-color: transparent;
  border-radius: 8px;
  border: 1px solid #18ab29;
  width: 50%;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  padding: 16px 31px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #2f6627;
}

.btn-option:hover{
  background-color: #5cbf2a;
}

.btn-option:active{
  position: relative;
  top: 1px;
  left: 1px;
}

.quizz__results{
  width: 100%;
  height: 250px;
  background-color: #1F0539;
  border-radius: 10px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.quizz__results > h1{
  margin-bottom: 20px;
}

@media (max-width:700px){

  .btn-option{
    font-size: 15px;
  }

  /* .quizz__questions>h3{
    font-size: 1.4vh;
  } */


}

@media (max-width:520px){
  .btn-option{
    font-size: 12px;

  }

  .quizz__logo > h1{
    font-size: 1.4rem;
  }

  .quizz__logo > h3{
    font-size: 1.7vh;
  }

  .quizz__questions>h3{
    font-size: 1.3vh;
  }
}

@media (max-width:400px){
  .btn-option{
    font-size: 10px;

  }

  .quizz__logo > h1{
    font-size: 1.2rem;
  }

  .quizz__logo > h3{
    font-size: 1.5vh;
  }

  .quizz__questions>h3{
    font-size: 1.2vh;
  }

  .quizz__questions{
    height: 80px;
  }
}
